<div class="animate__animated animate__fadeIn">
    <h3>Buscar por región <small> {{ regionActiva | titlecase}}</small></h3>
<hr>
<h5>Selecciona una región</h5>
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- [ngClass]="{
        'btn-primary' : regionActiva === region,
        'btn-outline-primary': regionActiva !== region
    }" -->
    <div class="col">
        <button (click) = "activarRegion(region)"
        [class]="  (region === regionActiva) ?  'btn btn-primary regionB': 'btn btn-outline-primary regionB'"
        *ngFor = "let region of regiones">
            {{region | titlecase}}
        </button>
    </div>
</div>

<div class="row">

    <div  *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-tabla [paises] ='paises' ></app-pais-tabla>
        </div>
    </div>
</div>